.ingredient-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 67px;
}

input{
    width: 399px;
    height:38px ;
    padding: 6px 13px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

button{
    width: 183px;
    height: 38px;
    border-radius: 6px;
    padding: 9px 17px;
    background-color:#141413 ;
    color: #fafaf8;
}